apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: web
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: web
    spec:
      containers:
        - command:
            - ./run.sh
          env:
            - name: DATA_HOST
              value: localhost:8081
          image: s4s-discovery_web:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            initialDelaySeconds: 60
            exec:
              command:
                - curl
                - -f
                - http://localhost:3000
          name: web
          ports:
            - containerPort: 3000
          resources: {}
#          volumeMounts:
#            - mountPath: /discovery-web-ui/src
#              name: web-claim0
          workingDir: /discovery-web-ui
      restartPolicy: Always
#      volumes:
#        - name: web-claim0
#          persistentVolumeClaim:
#            claimName: web-claim0
#          hostPath:
#            path: "$(pwd)/discovery-web-ui/src" # absolute path from the host
#            type: Directory
status: {}
